name: build

on:
  schedule:
    - cron: "0 0 * * *"

  push:
    paths-ignore:
      - "CHANGELOG.md"
      - "LICENSE"
      - "README.md"

env:
  BOOTSTRAP_LICENSE: ${{ secrets.BOOTSTRAP_LICENSE }}
  SINGLESTORE_LICENSE: ${{ secrets.SINGLESTORE_LICENSE }}

jobs:
  auto-tag:
    # TEMP
    # if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    if: github.event_name == 'push'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all history and tags

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v46
        with:
          files: |
            config.json

      - name: Extract version and create tag
        if: steps.changed-files.outputs.only_changed
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          # Extract most recent tag published and increment one top of it.
          TAG_NAME=$(git describe --tags --abbrev=0 | awk -F. -v OFS=. '{$NF += 1 ; print}')
          
          echo "Creating tag: $TAG_NAME"

          # TEMP
          # git tag "$TAG_NAME"
          # git push origin "$TAG_NAME"
          
          echo "Successfully created and pushed tag: $TAG_NAME"

  build-and-test-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: prepare build environment
        run: |
          echo "CONFIG="$(jq 'del(.kai)' config.json | tr '\n' ' ')"" >> ${GITHUB_ENV}
          echo "KAI_VERSION="$(jq -r .kai config.json)"" >> ${GITHUB_ENV}

      - name: Build image for testing
        uses: docker/build-push-action@v4
        with:
          push: false
          load: true
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            singlestore-labs/singlestoredb-dev
          build-args: |
            BOOTSTRAP_LICENSE=${{ secrets.BOOTSTRAP_LICENSE }}
            CONFIG=${{ env.CONFIG }}
            KAI_VERSION=${{ env.KAI_VERSION }}

      - name: Remove large and unnecessary packages
        run: |
          echo "BEFORE CLEANUP: " $(df -a $1 | awk 'NR > 1 {avail+=$4} END {print avail}') || true
          sudo rm -rf /usr/local/lib/android || true
          sudo rm -rf /usr/share/dotnet || true
          sudo rm -rf /opt/ghc || true
          sudo rm -rf /usr/local/.ghcup || true
          sudo apt-get remove -y '^aspnetcore-.*' || echo "::warning::The command [sudo apt-get remove -y '^aspnetcore-.*'] failed to complete successfully. Proceeding..." 
          sudo apt-get remove -y '^dotnet-.*' --fix-missing || echo "::warning::The command [sudo apt-get remove -y '^dotnet-.*' --fix-missing] failed to complete successfully. Proceeding..."
          sudo apt-get clean || echo "::warning::The command [sudo apt-get clean] failed to complete successfully. Proceeding..."
          echo "AFTER CLEANUP: " $(df -a $1 | awk 'NR > 1 {avail+=$4} END {print avail}') || true

      - name: run tests
        run: |
          ./test/test.sh singlestore-labs/singlestoredb-dev

      - uses: anchore/scan-action/download-grype@v3
        id: grype

      - name: scan Docker image
        run: |
          ${{steps.grype.outputs.cmd}} --only-fixed singlestore-labs/singlestoredb-dev

  publish-image:
    if: github.ref_type == 'tag'
    runs-on: ubuntu-latest

    needs:
      - build-and-test-image

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: prepare build environment
        run: |
          echo "CONFIG="$(jq 'del(.kai)' config.json | tr '\n' ' ')"" >> ${GITHUB_ENV}
          echo "KAI_VERSION="$(jq -r .kai config.json)"" >> ${GITHUB_ENV}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          images: |
            ghcr.io/singlestore-labs/singlestoredb-dev
          tags: |
            type=semver,pattern={{version}}
          labels: |
            org.opencontainers.image.vendor=SingleStore

      - name: Build and publish image
        uses: docker/build-push-action@v4
        with:
          push: true
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            BOOTSTRAP_LICENSE=${{ secrets.BOOTSTRAP_LICENSE }}
            CONFIG=${{ env.CONFIG }}
            KAI_VERSION=${{ env.KAI_VERSION }}

  test-service:
    runs-on: ubuntu-latest
    needs:
      - publish-image

    services:
      singlestoredb:
        image: ghcr.io/singlestore-labs/singlestoredb-dev:latest
        ports:
          - 3306:3306
          - 8080:8080
          - 9000:9000
        env:
          ROOT_PASSWORD: test
          SINGLESTORE_LICENSE: ${{ secrets.SINGLESTORE_LICENSE }}

    steps:
      - name: sanity check using mysql client
        run: |
          mysql -u root -ptest -e "SELECT 1" -h 127.0.0.1
